<html lang="en">
<head>
<meta charset="utf-8">
</head>
<body>
	<ul>
		<li>Turn right onto Northwest Spruce Avenue in 14.7 KM</li>
		<li>Turn right onto Northwest 10th Street in 15.3 KM</li>
		<li>Turn right onto Northwest Highland Drive in 17.7 KM</li>
		<li>Turn right onto Northwest Crescent Valley Drive in 12.1 KM</li>
		<li>Turn right onto Northwest Lewisburg Avenue in 15.4 KM</li>
		<li>Turn left onto Sulphur Springs Road in 7.4 KM</li>
		<li>Turn right onto Sulphur Springs Road in 25.8 KM</li>
		<li>Go straight onto Sulphur Springs Road in 2.8 KM</li>
		<li>Turn right onto Soap Creek Road in 36.2 KM</li>
		<li>Turn right onto Northwest Blaze Drive in 163.4 KM</li>
		<li>Make a U-turn in 69.6 KM</li>
		<li>Turn left onto Soap Creek Road in 447 KM</li>
		<li>Turn right onto Tampico Road in 19.7 KM</li>
		<li>Turn right onto Airlie Road in 15.7 KM</li>
		<li>Turn left onto South Pacific Highway West (OR 99W) in 11.9 KM</li>
		<li>Turn left onto Helmick Road in 9.3 KM</li>
		<li>Turn right onto South Warren Street in 35.4 KM</li>
		<li>Turn right onto North Monmouth Avenue in 20.1 KM</li>
		<li>Turn right onto Hoffman Road in 21.4 KM</li>
		<li>Turn right onto North Main Street (OR 51) in 11.2 KM</li>
		<li>Turn left onto C Street in 5 KM</li>
		<li>Turn left onto South Main Street (OR 51) in 10.2 KM</li>
		<li>Turn left onto River Road in 8 KM</li>
		<li>Keep left at the fork in 4.6 KM</li>
		<li>Turn right onto Buena Vista Road South in 8.2 KM</li>
		<li>Take the ferry Buena Vista Ferry in 4.7 KM</li>
		<li>Continue straight onto Willamette Ferry Street in 9.6 KM</li>
		<li>Turn left onto Riverview Street in 12.7 KM</li>
		<li>Turn left onto Meridian Street in 18.4 KM</li>
		<li>Turn right onto Northwest Springhill Drive in 14.7 KM</li>
		<li>Turn left onto Northwest Independence Highway in 15.9 KM</li>
		<li>Turn left onto Northeast Pettibone Drive in 17.4 KM</li>
		<li>Turn right onto Northeast Granger Avenue in 6.7 KM</li>
		<li>Turn left onto Northeast Elliott Circle in 16.8 KM</li>
		<li>Turn left onto Northeast Granger Avenue in 4.5 KM</li>
		<li>Turn left onto Pacific Highway West (OR 99W) in 7.1 KM</li>
		<li>Turn right onto Northeast Conifer Boulevard in 13.4 KM</li>
		<li>Turn left onto Northwest 9th Street in 3.4 KM</li>
		<li>Turn right onto Northwest Circle Boulevard in 15 KM</li>
		<li>Turn left onto Northwest 10th Street in 19.5 KM</li>
		<li>You have arrived at your destination in 0 KM</li>
	</ul>
</body>
</html>